<%= form_with(model: snippet_app, local: true) do |form| %>
  <% if snippet_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet_app.errors.count, "error") %> prohibited this snippet_app from being saved:</h2>

      <ul>
      <% snippet_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_field :contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
