<p id="notice"><%= notice %></p>

<h1>Snippet Apps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippet_apps.each do |snippet_app| %>
      <tr>
        <td><%= snippet_app.title %></td>
        <td><%= snippet_app.language %></td>
        <td><%= snippet_app.contents %></td>
        <td><%= link_to 'Show', snippet_app %></td>
        <td><%= link_to 'Edit', edit_snippet_app_path(snippet_app) %></td>
        <td><%= link_to 'Destroy', snippet_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet App', new_snippet_app_path %>
